<div class="container-fluid welcome-msg">
  <div class="highlight col-md-12 col-sm-12 col-xs-12 col-lg-12">  
    <div class="info col-md-12 col-lg-12 col-xs-12 col-sm-12">
  <h4>Welcome to our site...</h4>
  We are a well established Supplier of Host of Products such as Cutting Tools, Circular Saw Blades, Safety Equipments like Safety Jackets, Safety Goggles, Safety Gloves, Safety Belts, Safety Helmets, Power Tools, Precision Tools, Pneumatics and Hydraulic Hose, Hydraulic Cylinders.
  <p>Empowered with a comprehensive understanding of the market, we - Madarwala Enterprise engaged in supplying of High Quality Products such as Power Tools, Power Tools Accessories, Precision Tools, Safety Equipment and Safety Items, Pneumatics & Hydraulic Hose, Hydraulic Cylinders, Power Packs; Import Substitutes and Special Purpose Machines.</p>
  <a class="btn btn-default btn-sm pull-right">More <span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
  <div class="overlay"></div>  
  </div>
</div>
