*{
  font-family: 'Roboto Condensed', sans-serif;
}
.navbar{
  border-radius: 0;
}
.info {
    color: #fff;
    font-size: 20px;
    left: 5px;
    padding: 2px 9px;
    position: absolute;
    top: 4%;
    z-index: 3;
    h4{
      color: #fff;
      font-size: 28px;
    }
}

.highlight {
    background: url("http://www.stickmanwelding.com/web%20pictures/welding.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    height: 400px;
    position: relative;
    z-index: 1;
    margin-top: 0;
}
.welcome-msg{
  padding: 0px; margin-top: 0px;
}
.navbar-default{
  margin-bottom: 0;
}
.overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.74);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.btn.btn-default.btn-sm.pull-right {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.47);
    color: #fff;
    margin-right: 14px;
}
.btn.btn-default.btn-sm.pull-right:hover{
  background:#fff;
  color: #000;
}

/*Users bar*/
.users_bar{
  position: absolute;
  right: 0;
  top: 38px;
  z-index: 4;
}
/*Notification Bar*/ 
.notification-bar{
  bottom:0;
  left: 0;
  width: 100%;
  margin-bottom: 0;
  position: fixed;
  height: 20px;
  border-radius: 0;
}